@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

.navbar {
	text-transform: uppercase;
	font-weight: 750;
	font-size: 1rem;
	height: 4rem;
}

.navbar-nav {
	height: 100%;
}

.nav-link {
	margin-left: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
	color: #444444;
	border: solid medium transparent;
}

.navbar-light .navbar-nav .active {
	border: solid medium black;
}

.navbar-light .navbar-nav .nav-link:hover {
	border: solid medium black;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: -1;
}

.landing-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-inner {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	background-image: url("../images/landing_page_image.jpg")
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 32%;
	color: white;
	z-index: 1;
}

.caption h1 {
	font-size: 4rem;
	font-weight: 750;
	letter-spacing: .3rem;
	text-shadow: .1rem  .1rem .75rem black;
	padding-bottom: .5rem;
}

.caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .35rem black;
	padding-bottom: 1rem;
}

.caption .btn-lg {
	border-width: medium;
	border-radius: 0;
	text-shadow: .05rem 0.5rem .3rem black;
	padding: .6rem 1.3rem;
}

.top-btn {
	margin-bottom: 1rem;
}

.about-caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 15%;
	/*color: white;*/
	z-index: 1;
}

.about-description {
	width: 80%;
	margin: 0 auto;
}

.main-container {
	margin-top: 5rem;
}

.product-board {
	width: 100%;
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
}

.product-item {
	/*width: 20rem;*/
	/*margin-bottom: 1rem;*/
}

.card-img-top {
	max-height: 20rem;
	max-width: 20rem;
	object-fit: contain;
	overflow: hidden;
	background-repeat: no-repeat;
}

.card-columns {
	column-gap: 3rem;
}

.card-title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.btn-section {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10%;
	width: 80%;
	justify-content: space-around;
}

.error-caption {
	margin-top: 35vh;
}

.error-caption h1 {
	font-size: 4rem;
	font-weight: 750;
	letter-spacing: .3rem;
	padding-bottom: .5rem;
}

.error-caption h3 {
	font-size: 2rem;
	padding-bottom: 1rem;
}

.error-caption .btn-lg {
	border-width: medium;
	border-radius: 0;
	padding: .6rem .8rem;
}