{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">{{ title }}</legend>
			<div class="form-group">
				{{ form.link.label(class='form-control-label') }}
				{{ form.link(class='form-control form-control-lg', id='link-input') }}
				<div class="invalid-feedback" id="errors-link"></div>
			</div>
			<div class="form-group">
				{{ form.optimal_price.label(class='form-control-label') }}
				{{ form.optimal_price(class='form-control form-control-lg', id='optimal_price-input') }}
				<div class="invalid-feedback" id="errors-optimal_price"></div>
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class='btn btn-outline-info') }}
		</div>
	</form>
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		$('form').on('submit', function(e) {
			e.preventDefault();
			my_url = "{{ url_for('products.add_product') }}";
			$.ajax({
				data: $('form').serialize(),
				type: 'POST',
				url: '/product/add',
                success: function(data) {
                	if (data.error) {
            			for (error in data.error) {
            				$('#' + error + '-input').addClass('is-invalid');
            				var error_span = document.createElement('span');
            				error_span.innerText = data.error[error];
            				$('#errors-' + error).append(error_span);
            			}
                	} else {
                		check_job_status(data.location);
                	}
                }
			});
		});
	});

	function check_job_status(status_url) {
		console.log("checking...");
		$.getJSON(status_url, function(data) {
		    switch (data.status) {
				case "unknown":
					alert("Unknown job");
					break;
				case "finished":
					window.location.replace("{{ url_for('main.home') }}");
		          	break;
				case "failed":
					alert("Job failed");
					break;
				case "invalid":
					alert("Invalid user. Make sure it exists and has reviews.");
					break;
				default:
					setTimeout(function() {
						check_job_status(status_url);
					}, 1000);
	    	}
	    });
	}
</script>
{% endblock js %}