{% extends 'layout.html' %}

{% block content %}
	<div class="product-board card-columns">
	{% for product in products.items %}
		<div class="card product-item">
			<img src="{{ product.img }}" class="card-img-top">
			<div class="card-body">
				{% if product.name|length > 375 %}
					<h5 class="card-title">{{ product.name[:75] }}...</h5>
				{% else %}
					<h5 class="card-title">{{ product.name }}</h5>
				{% endif %}
				<p class="card-text">Current price: {{ product.current_price }} {{ product.currency_code }}
					<br>
					Your preferred price: {{ product.optimal_price }} {{ product.currency_code }}</p>
				<a href="{{ product.link }}" class="btn btn-primary" target="_blank">Buy</a>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock content %}


<!-- 		<article class="media content-section"><img class="rounded-circle article-img" src="{{ product.img }}"></img>
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="{{ product.link }}" target="_blank">Amazon page</a>
					<small class="text-muted">{{ product.available }}</small>
				</div>
				<h2><a class="article-title" href="{{ url_for('products.product', product_id=product.id) }}">{{ product.name }}</a></h2>
				<p class="article-content">Current price: {{ product.current_price }} {{ product.currency_code }}</p>
				<p class="article-content">Optimal price: {{ product.optimal_price }} {{ product.currency_code }}</p>
			</div>
		</article> -->