{% extends 'base.html' %}
{% block main_content %}
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner"></div>
        </div>
    </div>

    <div class="caption text-center">
        <h1>AMAZON VIRTUAL ASSISTANT</h1>
        <h3>Get your favorite products at their lowest prices.</h3>
        <div class="top-btn">
        	<a class="btn btn-outline-light btn-lg" href="{{ url_for('users.register') }}">JOIN NOW</a>
        </div>
        <div>
        	<a class="btn btn-outline-light btn-lg" href="{{ url_for('main.about') }}">LEARN MORE</a>
        </div>
    </div>
{% endblock main_content %}