{% extends 'base.html' %}
{% block main_content %}
	<main role="main" class="container main-container">
	    {% with messages = get_flashed_messages(with_categories=true) %}
	        {% if messages %}
	            {% for category, message in messages %}
	                <div class="alert alert-{{ category }}">
	                    {{ message }}
	                </div>
	            {% endfor %}
	        {% endif %}
	    {% endwith %}
		{% block content %}
		{% endblock content %}
	</main>
{% endblock main_content %}

{% block layout_js_1 %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
{% endblock layout_js_1 %}