{% extends 'base.html' %}
{% block main_content %}
	<main role="main" class="container main-container">
	    {% with messages = get_flashed_messages(with_categories=true) %}
	        {% if messages %}
	            {% for category, message in messages %}
	                <div class="alert alert-{{ category }}">
	                    {{ message }}
	                </div>
	            {% endfor %}
	        {% endif %}
	    {% endwith %}
		{% block content %}
		{% endblock content %}
	</div>
	<script type="text/javascript">
		function showLoadingSpinner(button, spinner) {
			button.css('display', 'none');
			spinner.css('display', 'inline-block');
		}

		function hideLoadingSpinner(button, spinner) {
			spinner.css('display', 'none');
			button.css('display', 'inline-block');
		}

		var validate_price = function(e) {
			var t = e.value;
			e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
		}
	</script>
{% endblock main_content %}