{% extends 'base.html' %}
{% block main_content %}
	<main role="main" class="container">
	    {% with messages = get_flashed_messages(with_categories=true) %}
	        {% if messages %}
	            {% for category, message in messages %}
	                <div class="alert alert-{{ category }}">
	                    {{ message }}
	                </div>
	            {% endfor %}
	        {% endif %}
	    {% endwith %}
	    <div class="row">
	        <div class="col-md-8">
				{% block content %}
				{% endblock content %}
	        </div>
	    </div>
	</div>
{% endblock main_content %}